### Database ###
postgres=User ID=btcpay;Password=urpassword;Application Name=btcpayserver;Host=localhost;Port=5432;Database=btcpay;

explorer.postgres=User ID=nbxplorer;Password=urpassword;Application Name=nbxplorer;MaxPoolSize=20;Host=localhost;Port=5432;Database=nbxplorer;

### Lightning ###
BTC.lightning=type=lnd-rest;server=https://127.0.0.1:8080/;macaroonfilepath=@LND_MACAROON_PATH@;allowinsecure=true
